<div [@routerTransition]>
    <app-page-header [heading]="'Stats'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Miners</div>
                <div class="card-body">
                    <h4 class="card-title">{{poolStats.connectedMiners}}</h4>
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->        
    </div>
</div>
